<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>59250512152-o90kflr8e8t52fpgphs5r9o5jf93di8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59250512152-o90kflr8e8t52fpgphs5r9o5jf93di8d</string>
	<key>API_KEY</key>
	<string>AIzaSyDg6A3ypYgZdNBdXTztLA_CHBUpAtcRAQE</string>
	<key>GCM_SENDER_ID</key>
	<string>59250512152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BarryChen.Grocr</string>
	<key>PROJECT_ID</key>
	<string>grocr-b638a</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-b638a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59250512152:ios:ca616c808a8c37ae</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-b638a.firebaseio.com</string>
</dict>
</plist>